html{
    font-family: 'Noto Sans KR', sans-serif;
}
.HeaderContainer{
    display:flex;
    flex-direction:column;
    height:126px;
    
}
.HeaderTop{
    border-style: dashed;
    height:60px;
}
.HeaderBottom{
    border-style: dashed;
    height:56px;
    vertical-align: middle;
}

.Li{
    float:left;
    padding: 0px 10px;
}
.Li:hover{
    color:red;
}
.HeaderBottom>input{
    float:right;
    border-radius: 5px;
    border:none;
    background-color: rgb(231, 231, 231);
    height:36px;
    vertical-align: top;
}




.HeaderTop>img{
    width:140px;
    height:36px;
}
.MainContainer{
    border-style: dashed;
    display:flex;
    flex-direction: row;
    height:1160px;
}
.MainContainer>.Left{
    display:flex;
    flex-direction: column;
    width:60%;
    border-style: dashed;
}
.Left>#top{
    border-style: dashed;
    height:30%;
}
.Left>#bottom{
    border-style: dashed;
    height:70%;
}
.MainContainer>.Right{
    width:40%;
    border-style: dashed;
}
.FooterContainer{
    border-style: dashed;
    display:flex;
    flex-direction: column;
    height:420px;
}